.main-content {
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-areas:
    "header"
    "main-content"
    "footer";
}

.sidebar {
  grid-area: sidebar;
  max-height: 100%;
  margin-bottom: 20px;
}

.content {
  grid-area: content;
  width: 100%;
  height: 100%;
}

.header {
  font-size: 16px;
  font-weight: 700;
  color: #454545;
  font-style: normal;
  text-align: left;
}

/* Media Queries */

@media screen and (max-width: 700px) {
  .main-content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
      "sidebar"
      "content";
  }

  .filter-content {
    column-gap: 100px !important;
  }

  .cards-container {
    grid-template-columns: auto !important;
  }
}

@media screen and (orientation: landscape) and (min-width: 1024px) {
  .main-content {
    display: grid;
    grid-template-columns: 20% 80%;
    column-gap: 20px;
    grid-template-areas: "sidebar content";
  }

  .cards-container {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .filter-content {
    grid-template-columns: 1fr !important;
  }
}

@media screen and (min-width: 700px) and (max-width: 1024px) {
  .main-content {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "sidebar content";
    column-gap: 20px;
  }

  .content {
    overflow: auto !important;
    max-height: 800px !important;
  }

  .cards-container {
    grid-template-columns: repeat(2, 1fr) !important;
  }

  .filter-content {
    grid-template-columns: 1fr !important;
  }
}

@media screen and (min-width: 1024px) {
  .main-content {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "sidebar content";
    column-gap: 20px;
  }

  .filter-content {
    grid-template-columns: 1fr 1fr !important;
  }

  .cards-container {
    grid-template-columns: repeat(4, 1fr) !important;
  }

  .content {
    overflow-y: auto !important;
    max-height: 800px !important;
  }
}
