.card {
  padding: 20px;
}

.mission-header {
  font-size: 16px;
  font-weight: 700;
  color: #052952;
  font-style: normal;
  text-align: left;
  padding: 10px 0px;
}

.details-section > .title {
  font-size: 14px;
  font-weight: 600;
  color: #052952;
  font-style: normal;
  text-align: left;
  padding: 5px 0px;
}

.details-section > .title .value {
  font-size: 15px;
  font-weight: 400;
  color: #3c33ce;
  font-style: normal;
  text-align: left;
}

.image-wrapper {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
}

.image-wrapper > img {
  height: 180px;
  width: 180px;
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 5px;
}
