.filter-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 30px;
  row-gap: 10px;
}

.filter-header {
  font-size: 16px;
  font-weight: 400;
  color: #454545;
  font-style: normal;
  text-align: center;
  border-bottom: 2px solid #ccc;
  margin: 8px 10px;
}

.filters-wrapper {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
}
